In [1]:
import pandas as pd
import os

In [23]:
file = os.path.join("..","Resources", "purchase_data.csv")

purchase_data = pd.read_csv(file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

Player Count
* Total Number of Players

In [64]:
total_player_count = len(purchase_data["SN"].unique())

In [65]:
#player_count_summary_table = pd.DataFrame({"Total Players":total_player_count})
#player_count_summary_table
total_player_count = pd.DataFrame({"Total Players":total_player_count},index=[0])
total_player_count

   Total Players
0            576

Purchasing Analysis (Total)

* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [5]:
unique_num = purchase_data["Item Name"].count()

In [6]:
average_price = purchase_data["Price"].mean()

In [7]:
num_purchases = purchase_data["Price"].count()

In [8]:
total_rev = purchase_data["Price"].sum()

In [9]:
purchase_analysis_summary_table = pd.DataFrame({"Number of Unique Items": unique_num, "Average Price": average_price, 
                                       "Number of Purchases": num_purchases, "Total Revenue": total_rev},index=[0])
purchase_analysis_summary_table["Average Price"] = purchase_analysis_summary_table["Average Price"].map("${:.2f}".format)
purchase_analysis_summary_table["Total Revenue"] = purchase_analysis_summary_table["Total Revenue"].map("${:,.2f}".format)
purchase_analysis_summary_table

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     780         $3.05                  780     $2,379.77

Gender Demographics

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed