In [27]:
import pandas as pd
import os

In [28]:
file = os.path.join("..","Resources", "purchase_data.csv")

purchase_data = pd.read_csv(file)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

### Player Count

In [29]:
total_player_count = purchase_data["SN"].nunique()

In [30]:
total_players = pd.DataFrame({"Total Players":[total_player_count]})
total_players

   Total Players
0            576

### Purchasing Analysis (Total)

In [31]:
unique_num = purchase_data["Item Name"].count()

In [32]:
average_price = purchase_data["Price"].mean()

In [33]:
num_purchases = purchase_data["Price"].count()

In [34]:
total_rev = purchase_data["Price"].sum()

In [35]:
purchase_analysis_summary_table = pd.DataFrame({"Number of Unique Items": [unique_num], "Average Price": [average_price], 
                                       "Number of Purchases": [num_purchases], "Total Revenue": [total_rev]})
purchase_analysis_summary_table["Average Price"] = purchase_analysis_summary_table["Average Price"].map("${:.2f}".format)
purchase_analysis_summary_table["Total Revenue"] = purchase_analysis_summary_table["Total Revenue"].map("${:,.2f}".format)
purchase_analysis_summary_table

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     780         $3.05                  780     $2,379.77

### Gender Demographics

In [36]:
genders = purchase_data.groupby("Gender")

In [37]:
total_gender_count = genders["SN"].nunique()

In [38]:
gender_percent = total_gender_count/total_player_count* 100

In [39]:
gender_demographics_summary_table = pd.DataFrame({"Total Count": total_gender_count, "Percentage of Players": gender_percent}
                                                 ,index=["Male","Female","Other / Non-Disclosed"])
gender_demographics_summary_table["Percentage of Players"] = gender_demographics_summary_table["Percentage of Players"].map("{:.2f}%".format)
gender_demographics_summary_table

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

## Purchasing Analysis (Gender)

In [40]:
gen_purchase_count = genders["Purchase ID"].count()

In [41]:
gen_average_purchase_price = genders["Price"].mean()

In [42]:
gen_average_total_purchase = genders["Price"].sum()

In [43]:
gen_average_purchase_per_person = gen_average_total_purchase/total_gender_count

In [44]:
gender_purchase_table = pd.DataFrame({"Purchase Count": gen_purchase_count, "Average Purchase Price": gen_average_purchase_price, 
                                       "Total Purchase Value": gen_average_total_purchase, "Avg Total Purchase per Person": gen_average_purchase_per_person}
                                     ,index=["Male","Female","Other / Non-Disclosed"])
gender_purchase_table["Average Purchase Price"] = gender_purchase_table["Average Purchase Price"].map("${:.2f}".format)
gender_purchase_table["Total Purchase Value"] = gender_purchase_table["Total Purchase Value"].map("${:,.2f}".format)
gender_purchase_table["Avg Total Purchase per Person"] = gender_purchase_table["Avg Total Purchase per Person"].map("${:.2f}".format)
gender_purchase_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

In [45]:
bins = [0,9.99,14.99,19.99,24.99,29.99,34.99,39.99,50]
group_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","+40"]

In [46]:
purchase_data["Age Demographics"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)

In [47]:
age_group = purchase_data.groupby("Age Demographics")

In [48]:
total_age_count = age_group["SN"].nunique()

In [49]:
age_percent = (total_age_count/total_player_count)* 100

In [50]:
age_demographics_summary_table = pd.DataFrame({"Total Count": total_age_count, "Percentage of Players": age_percent}
                                              ,index=["<10","10-14","15-19","20-24","25-29","30-34","35-39","+40"])
age_demographics_summary_table["Percentage of Players"] = age_demographics_summary_table["Percentage of Players"].map("{:.2f}%".format)
age_demographics_summary_table

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
+40             12                 2.08%

## Purchasing Analysis (Age)

In [51]:
age_purchase_count = age_group["Purchase ID"].count()

In [52]:
age_average_purchase_price = age_group["Price"].mean()

In [53]:
age_average_total_purchase = age_group["Price"].sum()

In [54]:
age_average_purchase_per_person = age_average_total_purchase/total_age_count

In [55]:
age_purchase_table = pd.DataFrame({"Purchase Count": age_purchase_count, "Average Purchase Price": age_average_purchase_price, 
                                       "Total Purchase Value": age_average_total_purchase, "Avg Total Purchase per Person": age_average_purchase_per_person}
                                  ,index=["<10","10-14","15-19","20-24","25-29","30-34","35-39","+40"])
age_purchase_table["Average Purchase Price"] = age_purchase_table["Average Purchase Price"].map("${:.2f}".format)
age_purchase_table["Total Purchase Value"] = age_purchase_table["Total Purchase Value"].map("${:,.2f}".format)
age_purchase_table["Avg Total Purchase per Person"] = age_purchase_table["Avg Total Purchase per Person"].map("${:.2f}".format)
age_purchase_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
+40,13,$2.94,$38.24,$3.19

## Top Spenders

In [56]:
spenders = purchase_data.groupby("SN")

In [57]:
spenders_count = spenders["Purchase ID"].count()

In [58]:
spenders_average_purchase_price = spenders["Price"].mean()

In [59]:
spenders_total_purchase = spenders["Price"].sum()

In [60]:
top_spenders_table = pd.DataFrame({"Purchase Count": spenders_count, "Average Purchase Price": spenders_average_purchase_price, "Total Purchase Value": spenders_total_purchase})
top_spenders_table = top_spenders_table.sort_values(["Total Purchase Value"],ascending=False)
top_spenders_table["Average Purchase Price"] = top_spenders_table["Average Purchase Price"].map("${:.2f}".format)
top_spenders_table["Total Purchase Value"] = top_spenders_table["Total Purchase Value"].map("${:.2f}".format)
top_spenders_table.index.name = None
top_spenders_table.head()

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

In [61]:
items = purchase_data[["Item ID","Item Name","Price"]]

In [62]:
popular_items = purchase_data.groupby(["Item ID","Item Name"])

In [63]:
items_count = popular_items["Purchase ID"].count()

In [64]:
items_total_purchase = popular_items["Price"].sum()

In [65]:
item_price = items_total_purchase/items_count

In [66]:
items_table = pd.DataFrame({"Purchase Count": items_count, "Item Price": item_price, 
                                       "Total Purchase Value": items_total_purchase})
pop_items_table = items_table.sort_values(["Purchase Count"],ascending=False)
pop_items_table["Item Price"] = pop_items_table["Item Price"].map("${:.2f}".format)
pop_items_table["Total Purchase Value"] = pop_items_table["Total Purchase Value"].map("${:.2f}".format)
pop_items_table.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

In [67]:
prof_items_table = items_table.sort_values(["Total Purchase Value"],ascending=False)
prof_items_table["Item Price"] = prof_items_table["Item Price"].map("${:.2f}".format)
prof_items_table["Total Purchase Value"] = prof_items_table["Total Purchase Value"].map("${:.2f}".format)
prof_items_table.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80