In [1]:
import pandas as pd
import os

In [2]:
file = os.path.join("..","Resources", "purchase_data.csv")

purchase_data = pd.read_csv(file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

Player Count
* Total Number of Players

In [3]:
total_player_count = purchase_data["SN"].count()

In [5]:
player_count_summary_table = pd.DataFrame({"Total Players":total_player_count},index=[0])
player_count_summary_table

   Total Players
0            780

Purchasing Analysis (Total)

* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [34]:
unique_num = purchase_data["Item Name"].count()

In [35]:
average_price = purchase_data["Price"].mean()

In [36]:
num_purchases = purchase_data["Price"].count()

In [37]:
total_rev = purchase_data["Price"].sum()

In [55]:
purchase_analysis_summary_table["Average Price"] = purchase_analysis_summary_table["Average Price"].map("${:.2f}".format)
purchase_analysis_summary_table["Total Revenue"] = purchase_analysis_summary_table["Total Revenue"].map("${:,.2f}".format)
purchase_analysis_summary_table = pd.DataFrame({"Number of Unique Items": unique_num, "Average Price": average_price, 
                                       "Number of Purchases": num_purchases, "Total Revenue": total_rev},index=[0])
purchase_analysis_summary_table["Average Price"] = purchase_analysis_summary_table["Average Price"].map("${:.2f}".format)
purchase_analysis_summary_table["Total Revenue"] = purchase_analysis_summary_table["Total Revenue"].map("${:,.2f}".format)
purchase_analysis_summary_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     780       3.050987                  780        2379.77

In [53]:
# purchase_analysis_summary_table["Average Price"] = purchase_analysis_summary_table["Average Price"].map("${:.2f}".format)
# purchase_analysis_summary_table["Total Revenue"] = purchase_analysis_summary_table["Total Revenue"].map("${:,.2f}".format)
# purchase_analysis_summary_table

ValueError: Unknown format code 'f' for object of type 'str'