In [1]:
import pandas as pd
import os

In [2]:
file = os.path.join("..","Resources", "purchase_data.csv")

purchase_data = pd.read_csv(file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

### Player Count

* Total Number of Players

In [3]:
total_player_count = purchase_data["SN"].nunique()

In [4]:
total_players = pd.DataFrame({"Total Players":[total_player_count]})
total_players

   Total Players
0            576

### Purchasing Analysis (Total)

* Number of Unique Items


* Average Purchase Price


* Total Number of Purchases


* Total Revenue

In [5]:
unique_num = purchase_data["Item Name"].count()

In [6]:
average_price = purchase_data["Price"].mean()

In [7]:
num_purchases = purchase_data["Price"].count()

In [8]:
total_rev = purchase_data["Price"].sum()

In [9]:
purchase_analysis_summary_table = pd.DataFrame({"Number of Unique Items": [unique_num], "Average Price": [average_price], 
                                       "Number of Purchases": [num_purchases], "Total Revenue": [total_rev]})
purchase_analysis_summary_table["Average Price"] = purchase_analysis_summary_table["Average Price"].map("${:.2f}".format)
purchase_analysis_summary_table["Total Revenue"] = purchase_analysis_summary_table["Total Revenue"].map("${:,.2f}".format)
purchase_analysis_summary_table

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     780         $3.05                  780     $2,379.77

### Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
gender_count = purchase_data.groupby("Gender")

In [11]:
total_gender_count = gender_count["SN"].nunique()

In [12]:
gender_percent = total_gender_count/total_player_count* 100

In [13]:
gender_demographics_summary_table = pd.DataFrame({"Total Count": total_gender_count, "Percentage of Players": gender_percent}
                                                 ,index=["Male","Female","Other / Non-Disclosed"])
gender_demographics_summary_table["Percentage of Players"] = gender_demographics_summary_table["Percentage of Players"].map("{:.2f}%".format)
gender_demographics_summary_table

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
gen_purchase_count = gender_count["Purchase ID"].count()

In [15]:
gen_average_purchase_price = gender_count["Price"].mean()

In [16]:
gen_average_total_purchase = gender_count["Price"].sum()

In [17]:
gen_average_purchase_per_person = gen_average_total_purchase/total_gender_count

In [18]:
gender_purchase_analysis_summary_table = pd.DataFrame({"Purchase Count": gen_purchase_count, "Average Purchase Price": gen_average_purchase_price, 
                                       "Total Purchase Value": gen_average_total_purchase, "Avg Total Purchase per Person": gen_average_purchase_per_person})
gender_purchase_analysis_summary_table["Average Purchase Price"] = gender_purchase_analysis_summary_table["Average Purchase Price"].map("${:.2f}".format)
gender_purchase_analysis_summary_table["Total Purchase Value"] = gender_purchase_analysis_summary_table["Total Purchase Value"].map("${:,.2f}".format)
gender_purchase_analysis_summary_table["Avg Total Purchase per Person"] = gender_purchase_analysis_summary_table["Avg Total Purchase per Person"].map("${:.2f}".format)
gender_purchase_analysis_summary_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [19]:
bins = [0,9.99,14.99,19.99,24.99,29.99,34.99,39.99,50]
group_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","+40"]

In [20]:
purchase_data["Age Demographics"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)

In [21]:
age_group = purchase_data.groupby("Age Demographics")

In [22]:
total_age_count = age_group["SN"].nunique()

In [23]:
age_percent = (total_age_count/total_player_count)* 100

In [24]:
age_demographics_summary_table = pd.DataFrame({"Total Count": total_age_count, "Percentage of Players": age_percent}
                                              ,index=["<10","10-14","15-19","20-24","25-29","30-34","35-39","+40"])
age_demographics_summary_table["Percentage of Players"] = age_demographics_summary_table["Percentage of Players"].map("{:.2f}%".format)
age_demographics_summary_table

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
+40             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
age_purchase_count = age_group["Purchase ID"].count()

In [26]:
age_average_purchase_price = age_group["Price"].mean()

In [27]:
age_average_total_purchase = age_group["Price"].sum()

In [28]:
age_average_purchase_per_person = age_average_total_purchase/total_age_count

In [29]:
age_purchase_analysis_summary_table = pd.DataFrame({"Purchase Count": age_purchase_count, "Average Purchase Price": age_average_purchase_price, 
                                       "Total Purchase Value": age_average_total_purchase, "Avg Total Purchase per Person": age_average_purchase_per_person})
age_purchase_analysis_summary_table["Average Purchase Price"] = age_purchase_analysis_summary_table["Average Purchase Price"].map("${:.2f}".format)
age_purchase_analysis_summary_table["Total Purchase Value"] = age_purchase_analysis_summary_table["Total Purchase Value"].map("${:,.2f}".format)
age_purchase_analysis_summary_table["Avg Total Purchase per Person"] = age_purchase_analysis_summary_table["Avg Total Purchase per Person"].map("${:.2f}".format)
age_purchase_analysis_summary_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Demographics,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
+40,13,$2.94,$38.24,$3.19